<section class="register-page">
  <div class="register-shell">
    <a href="#" class="register-brand">
      <img class="register-brand__logo" src="assets/ng.png" alt="logo" />
      <span class="register-brand__name">Node Angular App</span>
    </a>
    <div class="register-card">
      <div class="register-card__inner">
        <div class="register-card__header">
          <p class="register-card__eyebrow">Create account</p>
          <h1 class="register-card__title">Register new user account</h1>
          <p class="register-card__subtitle">Create your account with a simple, secure form and get started right away.</p>
        </div>

        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="register-form__row">
            <div class="register-field">
              <label for="firstname" class="register-field__label">First Name</label>
              <input pInputText id="firstname" pSize="large" class="register-field__input w-full" formControlName="firstname" />
            </div>
            <div class="register-field">
              <label for="lastname" class="register-field__label">Last Name</label>
              <input pInputText id="lastname" pSize="large" class="register-field__input w-full" formControlName="lastname" />
            </div>
          </div>

          <div class="register-field">
            <label for="email" class="register-field__label">Your Email</label>
            <input pInputText id="username" pSize="large" class="register-field__input w-full" formControlName="email" />
          </div>

          <div class="register-field">
            <label for="password" class="register-field__label">Password</label>
            <input pInputText id="password" type="password" pSize="large" class="register-field__input w-full" formControlName="password" />
          </div>

          <div class="register-field">
            <label for="password_confirmation" class="register-field__label">Confirm Password</label>
            <input pInputText id="password_confirmation" type="password" pSize="large" class="register-field__input w-full" formControlName="password_confirmation" />
          </div>

          <div class="register-form__meta">
            <div class="register-form__remember">
              <p-checkbox  [value]="accept" [binary]="true" inputId="remember" formControlName="acceptTerms" />
              <label for="remember" class="register-form__remember-label">I agree to continue with this registration</label>
            </div>
            <a href="#" class="register-form__link">Need help?</a>
          </div>

          <p-button label="Register" type="submit" styleClass="w-full register-form__button"  [loading]="saving()" [disabled]="!registerForm.valid"/>
          <p class="register-form__signin">
            Already have an account?
            <span routerLink="/login" class="register-form__signin-link">Go to Login</span>
          </p>

        </form>
      </div>
    </div>
  </div>
</section>

<p-toast position="bottom-right"></p-toast>
