<header class="bg-[var(--surface-card)] shadow-sm p-3 rounded-[var(--content-border-radius)] mb-4">
    <div class="flex items-center justify-between mx-auto">
      <h5 class="tracking-tight text-gray-900 !mb-0">Users</h5>
      <div class="flex justify-center space-x-2">
          <input type="text" pInputText [(ngModel)]="searchText" [placeholder]="'Search user'" />
          <p-splitbutton label="New User" (onClick)="newUser()" [model]="items"outlined severity="secondary"  />
      </div>
    </div>
  </header>
  <main>
    <div class="bg-[var(--surface-card)] shadow-sm p-3 rounded-[var(--content-border-radius)]">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <!-- Your content -->
          <!-- @if(userLoading()) { -->
            <!-- <p-table [value]="fakeList()" [tableStyle]="{ 'min-width': '50rem' }" [rows]="5"> -->
                <!-- <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Created At</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fake #loadingbody>
                    <tr>
                      <td><p-skeleton /></td>
                      <td><p-skeleton /></td>
                      <td><p-skeleton /></td>
                      <td><p-skeleton /></td>
                    </tr>
                </ng-template> -->
            <!-- </p-table> -->
          <!-- } @else { -->
            <p-table [value]="userList()" [paginator]="true" [rows]="15" [loading]="userLoading()" class="min-h-[calc(100vh-320px)]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Created At</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.createdAt | date}}</td>
                    </tr>
                </ng-template>
            </p-table>
          
          <!-- } -->
          
        </div>
    </div>

    <p-drawer header="Add user details" [(visible)]="visible" styleClass="!w-full md:!w-80 lg:!w-[30rem]" position="right" [blockScroll]="true" dismissable="true" [modal]="true" (onShow)="focusFirstInput()">
        <add-user />
    </p-drawer>
  </main>


