<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0 sm:px-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-8 h-8 mr-2" src="assets/ng.png" alt="logo" />
      Node Angular App
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
            <input pInputText id="username" pSize="small" class="w-full"  />
          </div>
  
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input pInputText id="password" type="password" pSize="small" class="w-full" />
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-start text-stone-200">
              <p-checkbox  value="remember" inputId="remember" />
              <label for="remember" class="ml-2">Remember me</label>
            </div>
            <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
        </div>


        <!-- <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 cursor-pointer">Sign in</button> -->
        <p-button label="Sign In" styleClass="w-full mb-6 font-sm!" />
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet? <span routerLink="/register" class="font-medium text-primary-600 hover:underline dark:text-primary-500 cursor-pointer">Sign up</span>
        </p>

        </form>
  
      </div>
    </div>
  </div>

</section>


<!-- <div class="card flex flex-col gap-6 rounded-2xl justify-center bg-primary-950 p-8 w-100 h-96">

  <p-autocomplete [(ngModel)]="selectedItem" [suggestions]="filteredItems" (completeMethod)="search($event)" (onSelect)="onSelect($event)" optionValue="label"/>

  <p-select [options]="items" [(ngModel)]="selectedItem" optionLabel="label" placeholder="Select a City" class="w-full md:w-56" />


  <div class="inline-flex flex-col gap-2">
    <label for="username" class="text-primary-50 font-semibold">Username</label>
</div>

<div class="inline-flex flex-col gap-2">
  <label for="password" class="text-primary-50 font-semibold">Password</label>
  <input pInputText id="password" type="password" />
</div>
</div> -->